/priv/lib
fdb.cluster

# Elixir
*.ez
.expert/
/.fetch
/_build/
/cover/
/deps/
/doc/
/tmp/
erl_crash.dump
fdb-*.tar

# Vim
*.sw*

# Zig
.zig-cache/
/build-*/
/build/
/debug/
/docgen_tmp/
/release/
zig-out/
